{{!< page}}

<main class='default-page'>
  <h1>{{title}}</h1>
  <div class='info-health'>
    <p class='txt-cap'>status: <span class='txt-ok'>{{status}}</span></p>
    <p class='txt-cap'>uptime: {{uptime}} sec</p>
    <p class='txt-cap'>OS: {{os}}</p>
    <p class='txt-cap'>free memory: {{memory}}</p>
    <p class='txt-cap'>total memory: {{total_mem}}</p>
    <p class='txt-cap'>home_dir: {{homeDir}}</p>
    <p class='txt-cap'>date: {{date}}</p>
    <p>
      <a href='/' class='btn-link'>go back</a>
    </p>
  </div>
</main>